<%- include('../partials/header')%>

<h2>Add a New Team</h2>
<form action="/teams" method="POST">
    <div class="form-group">
    <label>Location:
    <input type="text" name="location">
    </label><br>
    </div>
    <div class="form-group">
    <label>Team Name:
    <input type="text" name="teamName">
    </label><br>
    </div>
    <div class="form-group">
    <label>League:
    <input type="text" name="league">
    </label><br>
    </div>
    <div class="form-group">
    <label>Founding Year:
    <input type="number" name="foundingYear">
    </label><br>
    </div>
    <div class="form-group">
    <label>Home Kit Colors:
    <input type="text" name="homeKitColors">
    </label><br>
    </div>
    <div class="form-group">
    <label>Sponsor:
    <input type="text" name="sponsor">
    </label><br><br>
    </div>
    <button type="submit">Add Team</button>
</form>


<%- include('../partials/footer')%>