body {
  padding: 65px;
  font: 14px "Verdana", Helvetica, Arial, sans-serif;
}

a {
  color: #7CFC00;
}

/* .form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: inline-block;
  width: 500px;
} */

/* .form-group input {
  width: calc(100% - 500px);
} */