body {
  padding: 65px;
  font: 14px "Verdana", Helvetica, Arial, sans-serif;
}

a {
  color: #7CFC00;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
}

.form-group {
  margin-bottom: 5px;
  text-align: left;
}

.form-group label {
  display: inline-block;
  width: 274px; /* 1/3 of screen */
}

.form-group input {
  width: calc(100% - 30px);
}

.add-player-form {
  display: inline-block;
  width: 274px;
}